#navbar {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

#content {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

#acc{
	background-color: var(--sec-bg-color);
	height: auto;
	width: 40em;
	margin: 6em auto;
	padding: 1.5em 3em 1.5em 3em;
	display:flex;
	flex-direction: column;
	align-items: stretch;
}

#acc > *{
	margin: auto 0px;
	color: var(--sec-f-color);
}

#acc > input{
	color: var(--sec-f-color);
	background: var(--nav-bg-color);
	margin: 0.5em 0px;
	padding: 0.5em;
	border: none;
}

#actitle{
	font-size: 2em;
	flex: 2em;
	padding: 0.5em 0em;
}
#sbtbtn{
	background-color: var(--sec-bg-color);
	padding: 0.5em;
	padding-bottom: 0.25em;
	align-self: flex-end;
	margin: 0.25em 0;
}

#acc > a{
	font-size: 0.6em;
	margin-top: 0px;
	text-align: right;
	align-self: flex-end;
	margin: 0.1em 0;
}