<!doctype html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <link rel = "stylesheet" type = "text/css" href = "../../../public/css/styles.css">
        <link rel = "stylesheet" type = "text/css" href = "../../../public/css/navbar.css">
        <link rel = "stylesheet" type = "text/css" href = "../../../public/css/hasacc.css">
        <title>Home</title>
    </head>
    <body>
        <div id = "navbar">
            <a class = "nvbtn" id = "homebtn" href = "index.html">NoteBase</a>
            <div id = "navspc">
            </div>
            <a class = "nvbtn" href = "home.html">Home</a>
            <a class = "nvbtn" href = "account.html">Account</a>
            <a class = "nvbtn" href = "settings.html">Settings</a>
        </div>
        <div id = "content">
            <input type = "text" id = "search" placeholder ="Search Current Folder"></input>
            <p id = "curfol"> 
                Current Folder:
                <button class = "fdrbtn">All</button> >
            </p>
            <div class = "fldr">
                <div class = "pstby">
                    <img src = "../../models/img/cover-photo.png" class = "covphoto">
                    <div class = "pbylbl">
                        <p>Frederick Ivan Tan</p>
                        <p>2022</p>
                    </div>
                </div>
                <p class = "dte"> Date Posted: 22 March 2020 </p>
                <a class = "fnme">Electrostatics.pdf</a>
                <div class = "btns">
                    <button class = "likebtn">
                        <img src = "../../../public/img/like.png" class = "likeimg"> 10
                    </button>
                    <button class = "sharebtn">
                         <img src = "../../../public/img/copy-link.png" class = "shareimg"> Copy Link
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>