<!doctype html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <link rel = "stylesheet" type = "text/css" href = "../../../public/css/styles.css">
        <link rel = "stylesheet" type = "text/css" href = "../../../public/css/navbar.css">
        <link rel = "stylesheet" type = "text/css" href = "../../../public/css/noacc.css">
        <title>Log In</title>
    </head>
    <body>
    	<div id = "navbar">
    		<a class = "nvbtn" id = "homebtn" href = "index.html">NoteBase</a>
            <div id = "navspc">
            </div>
            <a class = "nvbtn" id = "sgnbtn" href = "signup.html">Sign Up</a>
            <a class = "nvbtn" id = "lginbtn" href = "index.html">Log In</a>
    	</div>
    	<div id = "content">
    		<div id = "acc">
    			<h1 id = "actitle">Sign Up</h1>
    			<input type = "text" placeholder="username" id = "usrnm-inp"> </input>
                <input type = "text" placeholder="pshs email" id = "eml-inp"> </input>
    			<input type = "password" placeholder="password" id = "pwd-inp"> </input>
                <input type = "password" placeholder="repeat password" id = "rpwd-inp"> </input>
    			<button id = "sbtbtn">Log In</button>
    			<a id = "fgtpwd" href = "facebook.com">Forgot Password?</a>
                <a id = "hasacc" href = "facebook.com">Already Have an Account?</a>
    		</div>
    	</div>
    </body>
</html>